@page
@model Veterinary_Clinic_Test.Pages.Vaccinations.EditModel
@{
}

<form method="post">
    <div class="row container w-75 p-0 m-0 overflow">
        <div class="col-9">
            <h2 class="text-info text-black-50">Изменить прививку</h2>
        </div>
        <div class="col-md-12">
            <br />
            <input asp-for="Vaccination.Id" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vaccination.Name" class="control-label"></label>
                <input asp-for="Vaccination.Name" class="form-control" />
                <span asp-validation-for="Vaccination.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccination.Duration" class="control-label"></label>
                <input asp-for="Vaccination.Duration" class="form-control" />
                <span asp-validation-for="Vaccination.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccination.Cost" class="control-label"></label>
                <input asp-for="Vaccination.Cost" class="form-control" />
                <span asp-validation-for="Vaccination.Cost" class="text-danger"></span>
            </div>
            <div class="form-group authors">
                <label asp-for="Vaccination.Animal" class="control-label"></label>
                <select class="form-control" asp-for="Vaccination.Animal.Id" asp-items="Model.Animals">
                    <option value="0" selected>-пусто-</option>
                </select>
                <span asp-validation-for="Vaccination.Animal.Id" class="text-danger"></span>
            </div>
            <div class="form-group authors">
                <label asp-for="Vaccination.Doctor" class="control-label"></label>
                <select class="form-control" asp-for="Vaccination.Doctor.Id" asp-items="Model.Doctors">
                    <option value="0" selected>-пусто-</option>
                </select>
                <span asp-validation-for="Vaccination.Doctor.Id" class="text-danger"></span>
            </div>
            <div class="form-group authors">
                <label asp-for="Vaccination.Diagnosis" class="control-label"></label>
                <select class="form-control" asp-for="Vaccination.Diagnosis.Id" asp-items="Model.Diagnoses">
                    <option value="0" selected>-пусто-</option>
                </select>
                <span asp-validation-for="Vaccination.Diagnosis.Id" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group row">
                <div class="col-4">
                    <input type="submit" value="Изменить" class="btn btn-primary form-control" />
                </div>
                <div class="col-4">
                    <a asp-page="Index" class="btn btn-success form-control">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</form>